<%- include('partials/header2'); -%>

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100">
            50% Completed
        </div>
    </div>

    <div class="card-body p-4 p-sm-5">
        <form class="row g-3" action="/user/cci/add" method="post" enctype="multipart/form-data">
            <legend>
                <h2><b>Current Course Information</b></h2>
            </legend>
            <hr />
            <legend>Current Course Details</legend>

            <div class="col-md-4">
                <label for="ccAddmissionDate" class="form-label">Addmission Date</label>
                <input required type="date" class="form-control" name="ccAddmissionDate" value= "<%= recent != undefined ? (recent.ccAddmissionDate ? recent.ccAddmissionDate[0] : '') : "" %>"  id="ccAddmissionDate" />
               
            </div>

            <div class="col-md-4">
                <label for="inputState" class="form-label">Institute State</label>
                <select required id="inputState" name="ccInstituteState" class="form-select">
                    <option <%=recent != undefined ? (recent.ccInstituteState=="Maharshtra" ? 'selected' : '') : "" %> value="Maharshtra">Maharshtra</option>
                    <option <%=recent != undefined ? (recent.ccInstituteState=="Tamil Nadu" ? 'selected' : '') : "" %> value="Tamil Nadu">Tamil Nadu</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">Institute District</label>
                <select required id="inputState" name="ccInstituteDistrict" class="form-select">
                    <option <%=recent != undefined ? (recent.ccInstituteDistrict=="Kolhapur" ? 'selected' : '') : "" %> value="Kolhapur">Kolhapur</option>
                    <option <%=recent != undefined ? (recent.ccInstituteDistrict=="Amhednagar" ? 'selected' : '') : "" %> value="Amhednagar">Amhednagar</option>
                    <option <%=recent != undefined ? (recent.ccInstituteDistrict=="Pune" ? 'selected' : '') : "" %> value="Pune">Pune</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">Institute Taluka</label>
                <select required id="inputState" name="ccInstituteTaluka" class="form-select">
                    <option <%=recent != undefined ? (recent.ccInstituteTaluka=="Karveer" ? 'selected' : '') : "" %> value="Karveer">Karveer</option>
                    <option <%=recent != undefined ? (recent.ccInstituteTaluka=="Ichalkaranji" ? 'selected' : '') : "" %>  value="Ichalkaranji">Ichalkaranji</option>
                    <option <%=recent != undefined ? (recent.ccInstituteTaluka=="Hatkalangle" ? 'selected' : '') : "" %>  value="Hatkalangle">Hatkalangle</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">Qualification Level</label>
                <select required id="inputState" name="ccQualificationLevel" class="form-select">
                    <option <%=recent != undefined ? (recent.ccQualificationLevel=="High School" ? 'selected' : '') : "" %> value="High School">High School</option>
                    <option <%=recent != undefined ? (recent.ccQualificationLevel=="Undergraduate Level" ? 'selected' : '') : "" %> value="Undergraduate Level">Undergraduate Level</option>
                    <option <%=recent != undefined ? (recent.ccQualificationLevel=="PostGraduate Level" ? 'selected' : '') : "" %> value="PostGraduate Level">PostGraduate Level</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">Stream</label>
                <select required id="inputState" name="ccStream" class="form-select">
                    <option <%=recent != undefined ? (recent.ccStream=="Engineering" ? 'selected' : '') : "" %> value="Engineering">Engineering</option>
                    <option <%=recent != undefined ? (recent.ccStream=="Medical" ? 'selected' : '') : "" %> value="Medical">Medical</option>
                    <option <%=recent != undefined ? (recent.ccStream=="Pharmacy" ? 'selected' : '') : "" %> value="Pharmacy">Pharmacy</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">College Name</label>
                <select required id="inputState" name="ccCollegeName" class="form-select">
                    <option <%=recent != undefined ? (recent.ccCollegeName=="VIT Pune" ? 'selected' : '') : "" %> value="VIT Pune">VIT Pune</option>
                    <option <%=recent != undefined ? (recent.ccCollegeName=="PICT" ? 'selected' : '') : "" %> value="PICT">PICT</option>
                    <option <%=recent != undefined ? (recent.ccCollegeName=="VIIT" ? 'selected' : '') : "" %> value="VIIT">VIIT</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="inputZip" class="form-label">Board/University Name</label>
                <select required id="inputState" name="ccBoradUniversityName" class="form-select">
                    <option <%=recent != undefined ? (recent.ccBoradUniversityName=="Savitribai Phule Pune University" ? 'selected' : '') : "" %> value="Savitribai Phule Pune University">Savitribai Phule Pune University</option>
                    <option <%=recent != undefined ? (recent.ccBoradUniversityName=="Shivaji University" ? 'selected' : '') : "" %> value="Shivaji University">Shivaji University</option>
                    <option <%=recent != undefined ? (recent.ccBoradUniversityName=="Maharashtra Board" ? 'selected' : '') : "" %> value="Maharashtra Board">Maharashtra Board</option>
                    <option <%=recent != undefined ? (recent.ccBoradUniversityName=="CBSE" ? 'selected' : '') : "" %> value="CBSE">CBSE</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">Course Name</label>
                <select required id="inputState" name="ccCourseName" class="form-select">
                    <option <%=recent != undefined ? (recent.ccCourseName=="Computer Engineering" ? 'selected' : '') : "" %> value="Computer Engineering">Computer Engineering</option>
                    <option <%=recent != undefined ? (recent.ccCourseName=="Information Technology" ? 'selected' : '') : "" %> value="Information Technology">Information Technology</option>
                    <option <%=recent != undefined ? (recent.ccCourseName=="Artificial Intelligence and Data Science" ? 'selected' : '') : "" %> value="Artificial Intelligence and Data Science">Artificial Intelligence and Data Science</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">Admission Type</label>
                <select required id="inputState" name="ccAddmissionType" class="form-select">
                    <option <%=recent != undefined ? (recent.ccAddmissionType=="Through CAP/ Govt. Quota" ? 'selected' : '') : "" %> value="Through CAP/ Govt. Quota">Through CAP/ Govt. Quota</option>
                    <option <%=recent != undefined ? (recent.ccAddmissionType=="Through National/ JEE Score" ? 'selected' : '') : "" %> value="Through National/ JEE Score">Through National/ JEE Score</option>
                    <option <%=recent != undefined ? (recent.ccAddmissionType=="Through Management Quota" ? 'selected' : '') : "" %> value="Through Management Quota">Through Management Quota</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">CET/Merit Percentage</label>
                <input required type="text" value= "<%= recent != undefined ? (recent.ccCETpercentage ? recent.ccCETpercentage : '') : "" %>" class="form-control" name="ccCETpercentage" id="inputZip" />
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">CET Admit Card Number</label>
                <input required type="text"  value= "<%= recent != undefined ? (recent.ccCETadmitCardNumber ? recent.ccCETadmitCardNumber : '') : "" %>" class="form-control" name="ccCETadmitCardNumber" id="inputZip" />
            </div>

            <div class="col-md-6">
                <label for="inputZip" class="form-label">Admit Card</label><br />
                <div class="input-group">
                    <input required type="file" class="form-control" name="ccAdmitCard"  />
                    <!-- <button type="view" class="btn btn-secondary">View Document</button> -->
                    <% if(recent && recent.ccAdmitCard) { %> 
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ccAdmitCard0">
                            View Document
                        </button>
                        <div class="modal fade" id="ccAdmitCard0" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Admit Card</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="/upload/<%=recent.ccAdmitCard%>" class="img-fluid" >
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                        </div>
                        <% } %> 
                </div>
            </div>

            <div class="col-md-6">
                <label for="inputZip" class="form-label">CAP ID Certificate</label><br />
                <div class="input-group">
                    <input required type="file" class="form-control" name="ccCAPIDcertificate"  id="inputGroupFile02" />
                    <!-- <button type="view" class="btn btn-secondary">View Document</button> -->
                    <% if(recent && recent.ccCAPIDcertificate) { %> 
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ccCAPIDcertificate">
                            View Document
                        </button>
                        <div class="modal fade" id="ccCAPIDcertificate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">CAP ID Certificate</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="/upload/<%=recent.ccCAPIDcertificate%>" class="img-fluid" >
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">Year of Study</label>
                <select required id="inputState" name="ccYearOfStudy" class="form-select">
                    <option <%=recent != undefined ? (recent.ccYearOfStudy=="First Year" ? 'selected' : '') : "" %> value="First Year">First Year</option>
                    <option <%=recent != undefined ? (recent.ccYearOfStudy=="Second Year" ? 'selected' : '') : "" %> value="Second Year">Second Year</option>
                    <option <%=recent != undefined ? (recent.ccYearOfStudy=="Third Year" ? 'selected' : '') : "" %> value="Third Year">Third Year</option>
                    <option <%=recent != undefined ? (recent.ccYearOfStudy=="Fourth Year" ? 'selected' : '') : "" %> value="Fourth Year">Fourth Year</option>
                    <option <%=recent != undefined ? (recent.ccYearOfStudy=="Fifth Year" ? 'selected' : '') : "" %> value="Fifth Year">Fifth Year</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">Completed or Continue?</label>
                <select required id="inputState" name="ccCompletedOrContinue" class="form-select">
                    <option <%=recent != undefined ? (recent.ccCompletedOrContinue=="Completed" ? 'selected' : '') : "" %> value="Completed">Completed</option>
                    <option <%=recent != undefined ? (recent.ccCompletedOrContinue=="Continued" ? 'selected' : '') : "" %> value="Continued">Continued</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">Is Proffesional?</label>
                <select required id="inputState" name="ccIsProfessional" class="form-select">
                    <option <%=recent != undefined ? (recent.ccIsProfessional=="Professional Course" ? 'selected' : '') : "" %>  value="Professional Course">Professional Course</option>
                    <option <%=recent != undefined ? (recent.ccIsProfessional=="Continued" ? 'selected' : '') : "" %> value="Continued">Continued</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">Is Admission through Open or Reserved Category?</label>
                <select required id="inputState" name="ccIsAddmissionThroughOpenOrReserved" class="form-select">
                    <option <%=recent != undefined ? (recent.ccIsAddmissionThroughOpenOrReserved=="Open" ? 'selected' : '') : "" %> value="Open">Open</option>
                    <option <%=recent != undefined ? (recent.ccIsAddmissionThroughOpenOrReserved=="Selected Category" ? 'selected' : '') : "" %> value="Selected Category">Selected Category</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">Gap years</label>
                <input required type="text" value= "<%= recent != undefined ? recent.ccGapYears  : '' %>" name="ccGapYears" class="form-control" id="inputZip" />
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">Mode</label>
                <select required id="inputState" name="ccMode" class="form-select">
                    <option <%=recent != undefined ? (recent.ccMode=="Regular" ? 'selected' : '') : "" %>  value="Regular">Regular</option>
                    <option <%=recent != undefined ? (recent.ccMode=="Distance" ? 'selected' : '') : "" %> value="Distance">Distance</option>
                </select>
            </div>

            <br />
            <br />

            <div class="d-grid" style="width: auto; align-items: center">
                <button type="submit" class="btn btn-primary">Save and Next</button>
            </div>

           

            <br />
            <br />
            <br />
            <br />
            <br />
            <legend>Your Saved Details</legend>
        </form>
        <br />

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sr. no.</th>
                    <th scope="col">Year of Study</th>
                    <th scope="col">Admission Date</th>
                    <th scope="col">College/School Name</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">University Name</th>
                    <th scope="col">Completed</th>
                    <th scope="col">Result</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
              
                <% for(var i=0; i<currentCourse.length; i++) { %>
                    <form action="/user/cci/delete/<%=currentCourse[i]._id%>" method="post">
                    <tr>
                        <th scope="row"><%=i+1%></th>
                        <td><%= currentCourse[i].ccYearOfStudy ? currentCourse[i].ccYearOfStudy : "" %> </td>
                        <td><%= currentCourse[i].ccAddmissionDate ? currentCourse[i].ccAddmissionDate.toLocaleDateString() : "" %> </td>
                        <td><%= currentCourse[i].ccCollegeName ? currentCourse[i].ccCollegeName : "" %></td>
                        <td><%= currentCourse[i].ccCourseName ? currentCourse[i].ccCourseName : "" %></td>
                        <td><%= currentCourse[i].ccBoradUniversityName ? currentCourse[i].ccBoradUniversityName : "" %></td>
                        <td><%= currentCourse[i].ccCompletedOrContinue ? currentCourse[i].ccCompletedOrContinue : "" %></td>
                        <td><%= currentCourse[i].ccCETpercentage ? currentCourse[i].ccCETpercentage : "" %></td>
                        <td><button type="submit" class="btn btn-secondary">Delete</button></td>
                    </tr>
                    </form>
                 <% }; %> 
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>

</html>